<div class="container">
  OSU Class Explorer was made by Mandi Grant, using the Angular Fullstack Generator
  <a href="https://github.com/MJGrant">My GitHub</a>
  <a href="https://github.com/MJGrant/osu-cs-class-explorer">Explore the project code</a>
  <p>Angular Fullstack v4.2.2 |
    <a href="http://angular-fullstack.github.io/">Documentation</a> |
    <a href="https://gitter.im/DaftMonk/generator-angular-fullstack">Chat on Gitter</a> |
    <a href="https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open">Issues</a> |
    <a href="https://opencollective.com/angular-fullstack">Donate to our Open Collective</a>
  </p>
</div>
