<div class="container col-lg-12 pad-top">
  <h2>About this project</h2>
  OSU eCampus CS Course Explorer uses <a href="https://docs.google.com/spreadsheets/d/1MFBGJbOXVjtThgj5b6K0rv9xdsC1M2GQ0pJVB-8YCeU/edit">data</a> collected from real students on the <a href="https://www.reddit.com/r/OSUOnlineCS/">OSUOnlineCS subreddit</a>. The data in this app is as useful as students like you make it. Add your own <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAWZa_OWYqwOte5yw4loGgE6hEUqOJOeSpmzStZF_HcufufQ/viewform">course review(s) via the survey here</a>.
  <br/><br/>
  This app was developed by <a href="http://mjgrant.org">Mandi Grant</a>, a current OSU student and professional web developer, using the <a href="http://angular-fullstack.github.io/">Angular Fullstack Generator</a>.
  Explore the <a href="https://github.com/MJGrant/osu-cs-class-explorer">project code</a> on my <a href="https://github.com/MJGrant">GitHub</a> and connect with me on <a>LinkedIn</a>. Want to add something? <a href="https://github.com/MJGrant/osu-cs-class-explorer">Send me a pull request</a>!

</div>
<br/>