<div class="container">
  <h2>About this project</h2>
  OSU Class Explorer was made using data collected by the <a href="https://www.reddit.com/r/OSUOnlineCS/">OSUOnlineCS subreddit</a>. The data in this app is as useful as students like you make it. Add your own <a href="https://docs.google.com/forms/d/e/1FAIpQLSeAWZa_OWYqwOte5yw4loGgE6hEUqOJOeSpmzStZF_HcufufQ/viewform">course reviews here</a>.
  <br/>
  This app was developed by Mandi Grant using the <a href="http://angular-fullstack.github.io/">Angular Fullstack Generator</a>.
  Explore the <a href="https://github.com/MJGrant/osu-cs-class-explorer">project code</a> on my <a href="https://github.com/MJGrant">GitHub</a> and connect with me on <a>LinkedIn</a>.

</div>
<br/>