$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

@import '~ui-select/dist/select.min';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

body {
  font-size:16px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#course-select {
  border:1px solid red;
}

.chart-legend li span {
  border:1px solid red;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */

.donutLegend li {
  list-style: none;
  display: inline-block;
  margin:5px;
}

.legendLabelBox {
  height:16px;
  width:20px;
  display:inline-block;
  margin-right:5px;
  vertical-align:middle;
}

.legendLabelText {
  color:gray;
  vertical-align:middle;
}
