<header class="hero-unit" id="banner">
  <div class="container">
    <h1>OSU CS Class Explorer</h1>
    <p class="lead">{{$ctrl.awesomeThings.length}} reviews from current and former students</p>
    <select ng-model="selectedCourse"
            ng-options="thing.Id as thing['whatCourseDidYouTake?'] for thing in $ctrl.awesomeThings">
        <option value="">Select class</option>
    </select>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Choose a class</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing['whatCourseDidYouTake?']}}">{{thing['whatCourseDidYouTake?']}} - {{thing['howHardWasThisClass?']}} date reviewed: {{thing['whenDidYouTakeThisCourse?']}}</a></li>
      </ul>
    </div>
  </div>
</div>
