<header class="hero-unit orange" id="banner">

  <div class="container">
    <h1>OSU CS Course Explorer</h1>
    <div class="col-lg-12 pad-bottom">
      <p><span class="span-block">{{$ctrl.reviewCount}}+ course reviews and survival tips from current and former students in </span><span class="span-block"><a href="http://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science/">Oregon State University's online CS degree program</a></span></p>
    </div>

    <div class="col-lg-12">
      <body class="ng-cloak">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">

            <!-- course picker select-->
            <ui-select ng-model="$ctrl.selectedCourseName"
                       theme="bootstrap"
                       on-select="$ctrl.displayThisCourse()">
              <ui-select-match placeholder="Select or search a course ...">{{$ctrl.selectedCourseName}}</ui-select-match>
              <ui-select-choices repeat="name in $ctrl.courseNames | filter: $select.search">
                <div ng-bind-html="name | highlight: $select.search"></div>
                <!-- <small ng-bind-html="item.email | highlight: $select.search"></small>-->
              </ui-select-choices>
            </ui-select>
            </div>
          </div>
          </fieldset>
        </form>
      </body>
    </div>

  </div><!-- closes container-->
</header>

<div class="container" ng-hide="$ctrl.selectedCourseName">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 welcome-box">
    <i class="fa fa-arrow-circle-up welcome-box-icon" aria-hidden="true"></i>
    <p><b>Select a course</b> from the menu above to read real student reviews.</p>
  </div>
  <div class="col-lg-3"></div>
</div>

<div class="container col-lg-12" ng-show="$ctrl.selectedCourseName">
    <div class="col-md-12">
      <h1>{{$ctrl.displayCourse.fullName}}</h1>
    </div>

    <!-- Difficulty and hours spent (left side in full screen) -->
    <div class="col-md-5">
      <!-- Difficulty donut and legend-->
      <div class="pad-bottom">
        <h2>Difficulty scores</h2>
        <p>On a 1-5 scale, where 1 is "anyone can get an A" and 5 is "prepare to be wrecked by this course". Each section represents a percentage of students who responded with a particular score rating for this course.</p>
        <div class="col-md-12">
          <canvas id="donut-difficulty"
                  class="chart">
          </canvas>
          <div id="difficulty-chart-legend"></div>
        </div>
      </div>

      <!-- Time spent donut and legend -->
      <div class="pad-bottom">
        <h2>Time spent per week</h2>
        <p>Each section of the chart represents a percentage of student responses re: hours spent on class per week.</p>
        <div class="col-md-12">
          <canvas id="donut-timeSpent"
                  class="chart">
          </canvas>
          <div id="timeSpent-chart-legend"></div>
        </div>
      </div>
    </div>

    <!-- tips -->
    <div class="col-md-7">
      <h2>Tips from other students</h2>
      <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12 well"
          ng-repeat="tip in $ctrl.displayCourse.tips track by $index">
        <li>"{{tip.tip}}"<br/><span class="pull-right"><i>{{tip.timestamp}}</i></span></li>
      </ul>
      <p>Thanks, <a href="https://www.reddit.com/r/OSUOnlineCS">/r/OSUOnlineCS</a>, for collecting this data and sharing it publicly.</p>
    </div>
</div>

<!-- see footer for credits and links -->
